# XDG base directories
export XDG_DATA_HOME=${XDG_DATA_HOME:="$HOME/.local/share"}
export XDG_CACHE_HOME=${XDG_CACHE_HOME:="$HOME/.cache"}
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:="$HOME/.config"}
export XDG_STATE_HOME=${XDG_STATE_HOME:="$HOME/.local/state"}

# Disable files
export LESSHISTFILE=-

# XDG overrides for tools that don't respect it natively
export AWS_SHARED_CREDENTIALS_FILE="$XDG_CONFIG_HOME"/aws/credentials
export AWS_CONFIG_FILE="$XDG_CONFIG_HOME"/aws/config
export AZURE_CONFIG_DIR="$XDG_DATA_HOME"/azure
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
export JUPYTER_CONFIG_DIR="$XDG_CONFIG_HOME/jupyter"
export PIP_CONFIG_FILE="$XDG_CONFIG_HOME/pip"

# zsh
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"

# oh-my-zsh
export ZSH="$HOME/.config/oh-my-zsh"

{{- if eq .chezmoi.os "darwin" }}

# PATH: Homebrew (Apple Silicon)
[[ -d "/opt/homebrew/bin" ]] && PATH="/opt/homebrew/bin:$PATH"
{{- end }}

# PATH: user-local binaries
[[ -d "$HOME/.local/bin" ]] && PATH="$HOME/.local/bin:$PATH"

# PATH: Go
[[ -d "/usr/local/go/bin" ]] && PATH="/usr/local/go/bin:$PATH"

# Cargo/Rustup
[[ -f "$HOME/.cargo/env" ]] && . "$HOME/.cargo/env"

{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

# WSL: Set browser to Windows Firefox
export BROWSER="/mnt/c/Program Files/Mozilla Firefox/firefox.exe"
export GH_BROWSER="'/mnt/c/Program Files/Mozilla Firefox/firefox.exe'"
{{-   end }}
{{- end }}
