[defaults]
inventory = inventory/localhost
inject_facts_as_vars = false
nocows = true
retry_files_enabled = false
log_path = ~/.local/state/chezmoi/ansible.log
stdout_callback = default
result_format = yaml
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600
